* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
body {
    margin: 0px;
    padding: 0px;
    background: #dfdfdf;
    height: 100vh;
    font-family: 'Poppins';
}
.mainDiv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100vh;
    background-color: beige; 
}
.leftDiv {
    width: 25%;
    height: 80em;
    object-fit: cover;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20xp;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.rightDiv {
    width: 75%;
    height: 100vh;
    object-fit: cover;
    display: grid;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dfdfdf;
}
.leftDiv {
    background-color: #FFFFFF; 
}
.imageLogoDiv {
    margin-top: 30px; 
    margin-left: 10px; 
}
.menuDiv {
    margin-top: 120px;
}
.DashboardBtnDiv {
    margin-left: 10px;
    height: 53px;
    width: 90%;
    background-color: #5570F1;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    padding-bottom: 9px;
    border-radius: 9px;
    justify-content: flex-start;
    align-items: center;
    border: none;
    flex-wrap: nowrap;
}
.DashboardBtnDiv span {
    color: white;
    font-size: 13px;
    margin-left: 10px;
}
.nonActiveButtonDiv {
    margin-left: 10px;
    margin-top: 5px; 
    background-color: transparent;
    width: 90%; 
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    padding-bottom: 9px;
    border-radius: 9px;
    justify-content: flex-start;
    align-items: center;
    border: none; 
    flex-wrap: nowrap;
}
.nonActiveButtonDiv span {
    color: #878181;
    font-size: 13px;
    margin-left: 10px;
}
.leftBarMenuSection {
    height: 246px;
    width: 100%;
    margin-top: 104px;
    margin-bottom: 92px;
}
.freeGiftsMainSection {
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
    padding-top: 7px;
    border-radius: 5px;
    background-color: #FFCC91;
}
.freegiftsAwaitsYou {
    background-color: transparent;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    height: 40px;
    padding-bottom: 9px;
    border-radius: 9px;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFCC91;
    border: none;
    flex-wrap: nowrap;
}
.freegiftsAwaitsYou span {
    margin-top: -10px;
    margin-left: 4px;
    margin-right: 8px;
    font-size: 12px;
    color: #383636;
}
.logoutButtonDiv {
    margin-left: 10px;
    margin-top: 10px;
    background-color: transparent;
    width: 91%;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    padding-bottom: 9px;
    border-radius: 9px;
    justify-content: flex-start;
    align-items: center;
    border: none;
    flex-wrap: nowrap;
    /* border: 1px solid #ba99993;  */
}
.nonActiveButtonDiv.logout {
    background-color: #ebbfbf69;
    margin-top: 12px;
}
.headerDiv {
    height: 80px;
}
.dashboardHeader {
    display: flex;
    background-color: white;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 6px;
    padding-right: 10px;
    border-bottom: 1px solid #ededed;
    padding-left: 10px;
    justify-content: space-between;
}
.nannyShopOutterDiv div {
    display: flex; 
    justify-content: space-around;
}
.headerDivHeader {
    height: 95px;
    background: #ffffff;
    width: 100%;
    padding-right: 40px;
}
.nannyShopOutterDiv {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}
.nannyShop {
    display: flex;
    width: 122px;
    height: 32px;
    padding-top: 6px;
    padding-left: 8px;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #fef5ea;
}
.dashboardDisplayNameDiv {
    margin-top: 9px;
}
.homeLogo {
    margin-left: 10px;
    margin-top: 5px;
}
.salesContainerDiv {
    width: 18em;
    border: 1px solid #c0baba;
    height: 8em;
    margin-top: 1px;
    padding-top: 10px;
    background-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.innerSalesContainerDiv {
    display: flex;
    justify-content: space-between;

}
.thisWeekDiv {
    display: flex;
    justify-content: space-between;
    width: 98px;
    font-size: 13px;
    border: 1px solid white;
    align-items: center;
    color: #908585;
}
.salesNumbersDiv {
    width: 219px;
    margin-top: 6px;
    height: 17px;
    line-height: 22px;
    display: flex;
    color: #908585;
    padding-top: 20px;
    justify-content: space-between;
    font-size: 13px;
}
.amount, .volume {
    color: black; 
}
.percent {
    color: green; 
}
.salesSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 27px;
}
.mainDashboardDiv {
    display: flex;
}
.loaderDiv {
    width: 260px;
    margin-top: -18px;
}
.leftMainDashboard {
    display: flex;
    width: 100%;
    height: 65vh;
    margin-bottom: 200px;
    justify-content: space-around;
}
.allProductSalesContainerDiv {
    width: 18em;
    border: 1px solid #c0baba;
    height: 8em;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #5570f1;
    padding-left: 10px;
    color: white;
    padding-right: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.allProductsText {
    color: white; 
}
.markettingParaDiv, 
.markettingDownArrowDiv {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
}
.horizontalList {
    display: flex;
    font-size: 13px;
    justify-content: space-between;

}
ul .retention::marker {
    color: yellow; /* Change the color to your desired color */
}
ul .purchase::marker {
    color: lightblue;
}
ul .acquistion::marker {
    color: blue; 
}
.MarkettingDashboardDiv {
    background-color: white;
    width: 270px;
    padding-top: 14px;
    padding-left: 20px;
    height: 63%;
    color: #635b5b;
    margin-top: 11px;
    padding-right: 20px;
    border-radius: 7px;

}
.marketLoaderImageDiv {
    margin: auto;
    width: 70%; 
    margin-top: 34px;

}
ul li::before {
    color: #5570F1; 
}
.recentOrders {
    height: 627px;
    margin-top: 11px;
    width: 300px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
}
.recentOrdersItems {
    display: flex;
    justify-content: flex-start;
    width: 96%;
    align-items: center;
    border-bottom: 1px solid #e6e1e1;
    padding-left: 11px;
}
.phonePriceDiv {
    font-size: 12px;
    line-height: 10px;
    margin-left: 15px;
}
.pending {
    background: #edc7c7;
    padding-top: 6px;
    padding-left: 11px;
    padding-bottom: 5px;
    color: #bf1717;
    border-radius: 5px;
}
.completed {
    background-color: #ccf8ccf2;
    padding-top: 6px;
    padding-left: 11px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #5dad7f;
    border-radius: 5px;

}
.rightMainDashboard {
    height: 332px;
    background-color: #FFFFFF;
    margin-top: 331px;
    width: 65%;
    margin-right: -646px;
    padding-left: 0px;
    padding-top: 10px;  
    
}
.rightMainDashboard .summaryAndSalesDiv {
    display: flex;
    justify-content: space-between;
    width: 98%;
    border: 2px solid white;
    font-size: 12px;
    margin-bottom: 9px;
}
.rightMainDashboard .salesDiv {
    display: flex;
    justify-content: space-between;
    margin-left: -228px;
}
.notificationsLogo {
    margin-left: 10px;
    padding-top: 7px;
}
.summaryLogoImage {
    width: 95%;
    margin-left: 14px;
}
.salesSummary {
    margin-left: 20px;
}
.homeContainer {
    background-image: url('./Images/morganHuntLogo.png'); 
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.backgroundText {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center; 
    display: flex;
    justify-content: center;
}
.homeDashboard {
    height: 189px;
    width: 200px;
}
.homeDashboard:hover, 
.homeDashboard:focus {
    height: 189px;
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 3px 5px 18px 6px;
}
.homeMessages {
    height: 189px;
    width: 200px;
    margin-left: 10px; 
}
.homeMessages:hover, 
.homeMessages:focus {
    height: 189px;
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 3px 5px 18px 6px;
}
.messageMainSection {
    display: flex;
    background-color: #f6f6f6; 
}
.messageLeftDiv {
    display: grid;
    justify-content: center;
    height: 125vh;
    padding-top: 23px;
    width: 7%;
    background-color: white;
}
.messageLogoImage {
    height: 52px;
    width: 52px;
    border-radius: 5px;
}
.messageRightDiv {
    height: fit-content;
    width: 90%;

}

.convoHomePara {
    padding-left: 10px; 
    color: #938a8a;  
}
.messageMiddleSection {
    margin-top: 30px;
    height: 400px;
}
.bottomSection {
    margin-top: 20px;
    margin-bottom: 50px;
}
.contentsSectionMain {
    margin: 40px 20px 20px 20px;
}
.mainContactsDiv {
    margin-top: 21px;
    height: fit-content;
    display: flex;
}
.contactsDiv {
    height: 35px;
    display: flex;
    padding-top: 11px;
    width: 88%;
    background-color: white;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 12px;
}
.messagesDiv {
    /* height: 139vh; */
    width: 90%;
    margin-left: 20px;
    background-color: white;
}
.searchDiv {
    display: flex;
    background-color: #fffffffc;
    height: 34px;
    padding-top: 8px;
    border: 1px solid #a79696;
    padding-left: 10px;
    padding-right: 1em;
    width: 80%;
    margin-top: 15px;
    border-radius: 5px;
    margin-left: 15px;
}
.conversationWithCustomersHeader {
    color: #6c6464f7;
    font-weight: 400;
}
.searchLogo {
    height: 20px;
    margin-top: 2px;
    width: 20px;
}
.searchInputForm {
    border: none;
    width: 206px;
    outline: none;
    padding-left: 8px;
    height: 22px;
}
.usersDiv {
    margin-top: 0em;
    border-right: 5px solid #5c5caf;
    width: 16em;
    background-color: #f7f7fc;
    height: 56px;
    margin-left: 0px;
    display: flex;
    padding-top: 12px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 12px;
}
.nonActiveUserDiv {
    margin-top: 0em;
    border: none;
    width: 16em;
    background-color: white;
    height: 56px;
    margin-left: 0px;
    border-top: 1px solid #f2e4e4;
    display: flex;
    padding-top: 12px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 12px;
}
.headerPara {
    display: flex;
    justify-content: space-between;
}
.newMessageBtn {
    height: 33px;
    width: 145px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    color: white;
    background-color: #5570f1;
}
.usersDivImageSection {
    height: 62px;
    width: 76px;
    margin-right: 18px;
}
.usersDivCommentsSection {
    display: grid;
    justify-content: center;
}
.usersDivHeaderDisplay {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
}
.contactsHeaderSection {
    background-color: white;
    padding-bottom: 27px;
}
.usersDivMessage {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.messagesDivheaderDiv {
    display: flex;
    justify-content: space-between;
    height: 4em;
    background-color: white;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #f3f2f2; 
}
.messagesDivLeftHeader {
    height: 5em;
    font-size: 12px;
    width: 169px;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.messagesDivRightHeader {
    display: grid;
    font-size: 12px;
    width: 169px;
    padding-top: 7px; 
}
.messagesDivOnline{
    color: #5570f1; 
}
#online::marker {
    color: #5570f1; 
}
.timeDisplay {
    color: #8a8383; 
}
.newCustomerDiv {
    display: flex;
    font-size: 12px;
}
.newCustomerPara {
    background: #FFEAD1;
    font-size: 11px;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 5px;
    border-radius: 6px;
}
.viewProfilePara {
    padding-top: 5px;
    color: #5570f1;
    margin-left: 9px;
}
.ordersDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.ordersLogoImage {
    height: 20px;
    width: 20px;
    margin-right: 6px;
}
.dateDiv {
    display: flex;
    width: 100%;
    padding-top: 23px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #5e5e5e;
}
.usersMessageDiv {
    border: 2px solid rgb(172, 172, 216);
    height: 66px;
    background-color: #5570f1;
    width: 37%;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 5px;
    border-top-right-radius: 13px;
    margin-top: 14px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    align-items: center;
    color: white;
    margin-right: 367px;
    font-size: 13px;
}
.usersMessageLogo {
    font-size: 12px;
    display: flex;
    border: 1px solid #e9e9ef;
    width: 39%;
    padding-top: 7px;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 7px;
    padding-left: 5px;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: 0px 9px 9px -12px;
}
.usersMessageLogoStockDiv {
    padding-left: 20px;
    padding-top: 25px;
    text-align: right;
    width: 48%;
}
.usersMessageLogoParaDiv {
    margin-left: 12px;
    line-height: 27px;
}
.adminMessageDiv {
    margin-top: 22px;
    border: 2px solid #e6e6e6;
    height: 69px;
    width: 40%;
    padding-left: 20px;
    background-color: #ffead1;
    float: right;
    padding-top: 10px;
    margin-left: 300px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.timeDiv {
    margin-top: 3px;
    color: #c1c1c1;
}
.inputMessageFormDiv {
    display: flex;
    width: 98%;
    margin-top: 232px;
    padding-top: 0px;
    bottom: 1px;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    font-size: 13px;
    border-radius: 9px;
    color: #5e5e5e;
    border: 1px solid #c4c4c4;
    padding-left: 8px;
    padding-right: 8px;
}
.messageInput {
    width: 54em;
    height: 36px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 12px;
}
.innerTimeDiv {
    display: flex;
    justify-content: start; 
}


/* Adding media query */
/* For laptop screens (medium-sized screens) */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Add your styles for laptop screens here */
    body {
        font-size: 16px; 
  
        /* Add other styles specific to laptops */
    }
}

/* For tablet screens (small-sized screens) */
@media screen and (max-width: 800px) {
    /* Add your styles for tablet screens here */
    body {
        font-size: 14px; 
        background-color: black;/* For example, adjust the font size */
        /* Add other styles specific to tablets */
    }
}


